@font-face {
	font-family: 'SpaceGrotesk Regular';
	src: url('SpaceGrotesk-Regular.eot');
	src: url('SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
		url('SpaceGrotesk-Regular.woff') format('woff'),
		url('SpaceGrotesk-Regular.ttf') format('truetype');
}